 repos:
   - repo: local
     hooks:
      - id: conventional-commit-check
        name: Conventional Commit Checker (Rust)
        entry: bash scripts/conventional_commit_check.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
        always_run: true

