repos:
  - repo: local
    hooks:
      - id: conventional-commit-check
        name: Conventional Commit Checker (Rust)
        entry: target/release/pre-commit-hook
        language: system
        stages: [commit-msg]
        pass_filenames: true
        always_run: true

